@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Colors */
  --primary-color: #4b0082; /* Indigo */
  --primary-color-light: #6a0dad;
  --primary-color-dark: #2e0057;

  /* Secondary Colors */
  --secondary-color: #9400d3; /* Dark Violet */
  --secondary-color-light: #b300e6;
  --secondary-color-dark: #660099;

  /* Accent Colors */
  --accent-color: #ffffff; /* White */
  --accent-color-light: #f2f2f2;
  --accent-color-dark: #cccccc;

  /* Background Colors */
  --background-color: linear-gradient(
    135deg,
    #4b0082,
    #9400d3
  ); /* Fortnite-inspired gradient */
  --background-color-light: #6a0dad;
  --background-color-dark: #2e0057;

  /* Text Colors */
  --text-color: #ffffff; /* White */
  --text-color-light: #f2f2f2;
  --text-color-dark: #cccccc;

  /* Border Colors */
  --border-color: #dcdcdc;
  --border-color-light: #eaeaea;
  --border-color-dark: #bfbfbf;

  /* Font */
  --font-family: "Burbank Big Condensed", sans-serif;
}

html {
  background: var(--background-color);
  min-height: 100%;
}

body {
  background: none; /* Remove background from body to avoid overlap */
  font-family: var(--font-family);
  color: var(--text-color);
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-thumb {
  @apply rounded bg-primary opacity-15;
}

body {
  @apply text-text bg-background;
}

a {
  @apply text-primary;
}

a:hover {
  @apply text-primary-dark;
}

input {
  @apply border border-border p-2 rounded-sm;
}

button {
  @apply bg-primary text-accent p-2 rounded-sm min-w-24;
}

button:hover {
  @apply bg-primary-dark;
}

h1 {
  @apply text-2xl font-bold text-text;
}

h3 {
  @apply text-xl font-semibold text-text;
}

:disabled {
  @apply cursor-not-allowed opacity-50;
}

tr:nth-child(even) {
  @apply bg-background-light;
}

tr:hover {
  @apply bg-accent-dark;
}

.big-button {
  @apply bg-secondary hover:bg-secondary-dark text-accent p-2 rounded-lg h-16 w-36 text-center cursor-pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.big-button:hover {
  @apply bg-secondary-dark text-accent-dark;
  text-decoration: none;
}

.fortnite-background {
  background-image: url("/background.webp");
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.sun-background {
  background-image: url("/sun.webp");
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  baground-color: red;
}
